<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <div class="container">
        <div class="card-header">
            상품 상세정보
        </div>

        <ul class="list-group list-group-flush gap-2">
            <li class="list-group-item">
                <img class="w-full max-w-[300px]" src="https://i.imgur.com/PVsCFy1.png" alt="">
            </li>
            <li class="list-group-item">
                <span>번호 :</span>
                <span class="badge bg-primary">123</span>
            </li>
            <li class="list-group-item">
                <span>등록날짜 :</span>
                <span>2024-07-08</span>
            </li>
            <li class="list-group-item">
                <span>수정날짜 :</span>
                <span>2024-07-08</span>
            </li>
            <li class="list-group-item">
                <span>상품명 :</span>
                <span class="font-bold">강의</span>
            </li>
            <li class="list-group-item">
                <span>가격 :</span>
                <span>1원</span>
            </li>
            <li class="list-group-item">
                <span>마켓 :</span>
                <span class="badge bg-primary">COD</span>
            </li>
        </ul>
        <div class="card mt-[30px]">
            <div class="card-header">
                질문등록
            </div>

            <div class="card-body">
                <form action="#" method="POST">
                    폼내용

                </form>
                <a href="#">로그인</a> 후 이용해주세요.
            </div>
        </div>
        <div class="card mt-[30px]">
            <div class="card-header">
                질문 리스트
            </div>

            <ul class="list-group list-group-flush gap-2">
                <li class="list-group-item">
                    <span class="badge bd-secondary">질문 ID</span>
                    <span>질문 질문내용</span>

                    <a href="#" class="btn btn-sm btn-info">수정</a>
                    <a href="#" class="btn btn-sm btn-warning" onclick="if( confirm('정말 삭제하시겠습니까') == false) return false;">삭제</a>

                </li>
                </ul>
        </div>

    </div>
</section>
</html>