<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <div class="container mx-auto px-4">
        <h1 class="text-[1.5rem] font-bold">게시글 리스트</h1>
        <div class="flex justify-between items-center mb-6">
            <button class="btn btn-sm btn-info" onclick="location.href='/article/write'">글 작성하기</button>
        </div>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[20px] mt-3">
            <li th:each="article, loop : ${articleList}" class="flex flex-col bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}" class="text-center mt-2"></a>
            </li>
        </ul>
    </div>
</section>
</html>